/*== 
 * Vue.js & TailwindCSS Portfolio Main CSS File
 * Powered by: @realstoman
*/

@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom Styles Below */

body {
	font-family: 'AppleGaramond-Regular';
}

/* Theme Colors */

/* Fonts */
@font-face {
	font-family: 'AppleGaramond-Variable';
	src: url("../fonts/AppleGaramond.woff2") format("woff2"),
		url("../fonts/AppleGaramond.woff") format("woff"),
		url("../fonts/AppleGaramond.ttf") format("truetype");
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

.font-general-variable {
	font-family: 'AppleGaramond-Variable';
}

@font-face {
	font-family: "AppleGaramond-VariableItalic";
	src: url("../fonts/AppleGaramond.woff2") format("woff2"),
	  url("../fonts/AppleGaramond.woff") format("woff"),
	  url("../fonts/AppleGaramond.ttf") format("truetype");
	font-weight: 200 700;
	font-display: swap;
	font-style: italic;
}

.font-general-variable-italic {
	font-family: 'AppleGaramond-VariableItalic';
}

@font-face {
	font-family: "AppleGaramond-Extralight";
	src: url("../fonts/AppleGaramond-Light.woff2") format("woff2"),
	  url("../fonts/AppleGaramond-Light.woff") format("woff"),
	  url("../fonts/AppleGaramond-Light.ttf") format("truetype");
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}

.font-general-extralight {
	font-family: 'AppleGaramond-Extralight';
}

@font-face {
	font-family: "AppleGaramond-ExtralightItalic";
	src: url("../fonts/AppleGaramond-LightItalic.woff2") format("woff2"),
	  url("../fonts/AppleGaramond-LightItalic.woff") format("woff"),
	  url("../fonts/AppleGaramond-LightItalic.ttf") format("truetype");
	font-weight: 200;
	font-display: swap;
	font-style: italic;
}

.font-general-extralight-italic {
	font-family: 'AppleGaramond-ExtralightItalic';
}

@font-face {
	font-family: "AppleGaramond-Light";
	src: url("../fonts/AppleGaramond-Light.woff2") format("woff2"),
	  url("../fonts/AppleGaramond-Light.woff") format("woff"),
	  url("../fonts/AppleGaramond-Light.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

.font-general-light {
	font-family: 'AppleGaramond-Light';
}

@font-face {
	font-family: "AppleGaramond-LightItalic";
	src: url("../fonts/AppleGaramond-LightItalic.woff2") format("woff2"),
	  url("../fonts/AppleGaramond-LightItalic.woff") format("woff"),
	  url("../fonts/AppleGaramond-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

.font-general-light-italic {
	font-family: 'AppleGaramond-LightItalic';
}

@font-face {
	font-family: "AppleGaramond-Regular";
	src: url("../fonts/AppleGaramond.woff2") format("woff2"),
	  url("../fonts/AppleGaramond.woff") format("woff"),
	  url("../fonts/AppleGaramond.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

.font-general-regular {
	font-family: 'AppleGaramond-Regular';
}

@font-face {
	font-family: "AppleGaramond-Italic";
	src: url("../fonts/AppleGaramond-Italic.woff2") format("woff2"),
	  url("../fonts/AppleGaramond-Italic.woff") format("woff"),
	  url("../fonts/AppleGaramond-Italic.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

.font-general-italic {
	font-family: 'AppleGaramond-Italic';
}

@font-face {
	font-family: "AppleGaramond-Medium";
	src: url("../fonts/AppleGaramond.woff2") format("woff2"),
	  url("../fonts/AppleGaramond.woff") format("woff"),
	  url("../fonts/AppleGaramond.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

.font-general-medium {
	font-family: 'AppleGaramond-Medium';
}

@font-face {
	font-family: "AppleGaramond-MediumItalic";
	src: url("../fonts/AppleGaramond-Italic.woff2") format("woff2"),
	  url("../fonts/AppleGaramond-Italic.woff") format("woff"),
	  url("../fonts/AppleGaramond-Italic.ttf") format("truetype");
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

.font-general-medium-italic {
	font-family: 'AppleGaramond-MediumItalic';
}

@font-face {
	font-family: "AppleGaramond-Semibold";
	src: url("../fonts/AppleGaramond-Bold.woff2") format("woff2"),
	  url("../fonts/AppleGaramond-Bold.woff") format("woff"),
	  url("../fonts/AppleGaramond-Bold.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

.font-general-semibold {
	font-family: 'AppleGaramond-Semibold';
}

@font-face {
	font-family: "AppleGaramond-SemiboldItalic";
	src: url("../fonts/AppleGaramond-Italic.woff2") format("woff2"),
	  url("../fonts/AppleGaramond-Italic.woff") format("woff"),
	  url("../fonts/AppleGaramond-Italic.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
	font-style: italic;
}

.font-general-semibold-italic {
	font-family: 'AppleGaramond-SemiboldItalic';
}

@font-face {
	font-family: "AppleGaramond-Bold";
	src: url("../fonts/AppleGaramond-Bold.woff2") format("woff2"),
	  url("../fonts/AppleGaramond-Bold.woff") format("woff"),
	  url("../fonts/AppleGaramond-Bold.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

.font-general-bold {
	font-family: 'AppleGaramond-Bold';
}

@font-face {
	font-family: "AppleGaramond-BoldItalic";
	src: url("../fonts/AppleGaramond-BoldItalic.woff2") format("woff2"),
	  url("../fonts/AppleGaramond-BoldItalic.woff") format("woff"),
	  url("../fonts/AppleGaramond-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}

.font-general-bold-italic {
	font-family: 'AppleGaramond-BoldItalic';
}

/* Active class for navigation menu */
.router-link-active,
.router-link-exact-active {
	@apply text-indigo-800;
	@apply text-indigo-600 dark:text-indigo-300;
}
